<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BundleName</key>
	<string>Still Step</string>
	<key>UIAppFonts</key>
	<array>
		<string>SourceCodePro-VariableFont_wght.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>location</string>
		<string>remote-notification</string>
		<string>processing</string>
		<string>activitykit</string>
		<string>audio</string>
	</array>
	<key>UILaunchImageFile</key>
	<string></string>
</dict>
</plist>
